MultiPrecision_CNN/MultiPrecision_CNN.srcs/obj_dir/*
MultiPrecision_CNN/MultiPrecision_CNN.srcs/sources_1/new/obj_dir/*
*.wpc
MultiPrecision_CNN/MultiPrecision_CNN.sim/sim_1/behav/xsim/simulate.log
*.log
*.prj
*.c
*.dbg
*.obj
*.reloc
*.sdb
*.xpr
*.log
*.wdb
*.xdbg
*.rlx
*.rtti
*.svtype
*.ini
*.txt
*.type
*.txt
*.exe
*.log
*.tcl
MultiPrecision_CNN/MultiPrecision_CNN.xpr
MultiPrecision_CNN/TB_nerveLayers_behav.wcfg
MultiPrecision_CNN/MultiPrecision_CNN.cache/*
MultiPrecision_CNN.sim/*
MultiPrecision_CNN/MultiPrecision_CNN.sim/sim_1/behav/xsim/xsim.dir/TB_conv_behav/Compile_Options.txt
MultiPrecision_CNN/MultiPrecision_CNN.sim/sim_1/behav/xsim/xsim.dir/TB_conv_behav/TempBreakPointFile.txt
MultiPrecision_CNN/MultiPrecision_CNN.sim/sim_1/behav/xsim/xsim.dir/TB_conv_behav/xsim.mem
MultiPrecision_CNN/MultiPrecision_CNN.sim/sim_1/behav/xsim/xsim.dir/TB_conv_behav/xsim.rlx
MultiPrecision_CNN/MultiPrecision_CNN.sim/sim_1/behav/xsim/xsim.dir/TB_conv_behav/xsim.rtti
MultiPrecision_CNN/MultiPrecision_CNN.sim/sim_1/behav/xsim/xsim.dir/TB_conv_behav/xsim.svtype
MultiPrecision_CNN/MultiPrecision_CNN.sim/sim_1/behav/xsim/xsim.dir/TB_conv_behav/xsim.type
MultiPrecision_CNN/MultiPrecision_CNN.sim/sim_1/behav/xsim/xsim.dir/TB_conv_behav/xsimSettings.ini
MultiPrecision_CNN/MultiPrecision_CNN.sim/sim_1/behav/xsim/xsim.dir/TB_conv_buffer_behav/Compile_Options.txt
MultiPrecision_CNN/MultiPrecision_CNN.sim/sim_1/behav/xsim/xsim.dir/TB_conv_buffer_behav/TempBreakPointFile.txt
MultiPrecision_CNN/MultiPrecision_CNN.sim/sim_1/behav/xsim/xsim.dir/TB_conv_buffer_behav/xsim.mem
MultiPrecision_CNN/MultiPrecision_CNN.sim/sim_1/behav/xsim/xsim.dir/TB_conv_buffer_behav/xsim.rlx
MultiPrecision_CNN/MultiPrecision_CNN.sim/sim_1/behav/xsim/xsim.dir/TB_conv_buffer_behav/xsim.rtti
MultiPrecision_CNN/MultiPrecision_CNN.sim/sim_1/behav/xsim/xsim.dir/TB_conv_buffer_behav/xsim.svtype
MultiPrecision_CNN/MultiPrecision_CNN.sim/sim_1/behav/xsim/xsim.dir/TB_conv_buffer_behav/xsim.type
MultiPrecision_CNN/MultiPrecision_CNN.sim/sim_1/behav/xsim/xsim.dir/TB_conv_buffer_behav/xsimSettings.ini
MultiPrecision_CNN/MultiPrecision_CNN.sim/sim_1/behav/xsim/xsim.dir/TB_dnn_behav/Compile_Options.txt
MultiPrecision_CNN/MultiPrecision_CNN.sim/sim_1/behav/xsim/xsim.dir/TB_dnn_behav/TempBreakPointFile.txt
MultiPrecision_CNN/MultiPrecision_CNN.sim/sim_1/behav/xsim/xsim.dir/TB_dnn_behav/xsim.mem
MultiPrecision_CNN/MultiPrecision_CNN.sim/sim_1/behav/xsim/xsim.dir/TB_dnn_behav/xsim.rlx
MultiPrecision_CNN/MultiPrecision_CNN.sim/sim_1/behav/xsim/xsim.dir/TB_dnn_behav/xsim.rtti
MultiPrecision_CNN/MultiPrecision_CNN.sim/sim_1/behav/xsim/xsim.dir/TB_dnn_behav/xsim.svtype
MultiPrecision_CNN/MultiPrecision_CNN.sim/sim_1/behav/xsim/xsim.dir/TB_dnn_behav/xsim.type
MultiPrecision_CNN/MultiPrecision_CNN.sim/sim_1/behav/xsim/xsim.dir/TB_dnn_behav/xsimSettings.ini
MultiPrecision_CNN/MultiPrecision_CNN.sim/sim_1/behav/xsim/xsim.dir/TB_flattening_layer_behav/Compile_Options.txt
MultiPrecision_CNN/MultiPrecision_CNN.sim/sim_1/behav/xsim/xsim.dir/TB_flattening_layer_behav/TempBreakPointFile.txt
MultiPrecision_CNN/MultiPrecision_CNN.sim/sim_1/behav/xsim/xsim.dir/TB_flattening_layer_behav/xsim.mem
MultiPrecision_CNN/MultiPrecision_CNN.sim/sim_1/behav/xsim/xsim.dir/TB_flattening_layer_behav/xsim.rlx
MultiPrecision_CNN/MultiPrecision_CNN.sim/sim_1/behav/xsim/xsim.dir/TB_flattening_layer_behav/xsim.rtti
MultiPrecision_CNN/MultiPrecision_CNN.sim/sim_1/behav/xsim/xsim.dir/TB_flattening_layer_behav/xsim.svtype
MultiPrecision_CNN/MultiPrecision_CNN.sim/sim_1/behav/xsim/xsim.dir/TB_flattening_layer_behav/xsim.type
MultiPrecision_CNN/MultiPrecision_CNN.sim/sim_1/behav/xsim/xsim.dir/TB_flattening_layer_behav/xsimSettings.ini
MultiPrecision_CNN/MultiPrecision_CNN.sim/sim_1/behav/xsim/xsim.dir/TB_flattening_pe_behav/Compile_Options.txt
MultiPrecision_CNN/MultiPrecision_CNN.sim/sim_1/behav/xsim/xsim.dir/TB_flattening_pe_behav/TempBreakPointFile.txt
MultiPrecision_CNN/MultiPrecision_CNN.sim/sim_1/behav/xsim/xsim.dir/TB_flattening_pe_behav/xsim.mem
MultiPrecision_CNN/MultiPrecision_CNN.sim/sim_1/behav/xsim/xsim.dir/TB_flattening_pe_behav/xsim.rlx
MultiPrecision_CNN/MultiPrecision_CNN.sim/sim_1/behav/xsim/xsim.dir/TB_flattening_pe_behav/xsim.rtti
MultiPrecision_CNN/MultiPrecision_CNN.sim/sim_1/behav/xsim/xsim.dir/TB_flattening_pe_behav/xsim.svtype
MultiPrecision_CNN/MultiPrecision_CNN.sim/sim_1/behav/xsim/xsim.dir/TB_flattening_pe_behav/xsim.type
MultiPrecision_CNN/MultiPrecision_CNN.sim/sim_1/behav/xsim/xsim.dir/TB_flattening_pe_behav/xsimSettings.ini
MultiPrecision_CNN/MultiPrecision_CNN.sim/sim_1/behav/xsim/xsim.dir/TB_nerveLayers_behav/Compile_Options.txt
MultiPrecision_CNN/MultiPrecision_CNN.sim/sim_1/behav/xsim/xsim.dir/TB_nerveLayers_behav/TempBreakPointFile.txt
MultiPrecision_CNN/MultiPrecision_CNN.sim/sim_1/behav/xsim/xsim.dir/TB_nerveLayers_behav/xsim.mem
MultiPrecision_CNN/MultiPrecision_CNN.sim/sim_1/behav/xsim/xsim.dir/TB_nerveLayers_behav/xsim.rlx
MultiPrecision_CNN/MultiPrecision_CNN.sim/sim_1/behav/xsim/xsim.dir/TB_nerveLayers_behav/xsim.rtti
MultiPrecision_CNN/MultiPrecision_CNN.sim/sim_1/behav/xsim/xsim.dir/TB_nerveLayers_behav/xsim.svtype
MultiPrecision_CNN/MultiPrecision_CNN.sim/sim_1/behav/xsim/xsim.dir/TB_nerveLayers_behav/xsim.type
MultiPrecision_CNN/MultiPrecision_CNN.sim/sim_1/behav/xsim/xsim.dir/TB_nerveLayers_behav/xsimSettings.ini
MultiPrecision_CNN/MultiPrecision_CNN.sim/sim_1/behav/xsim/xsim.dir/TB_pooling_layer_behav/Compile_Options.txt
MultiPrecision_CNN/MultiPrecision_CNN.sim/sim_1/behav/xsim/xsim.dir/TB_pooling_layer_behav/TempBreakPointFile.txt
MultiPrecision_CNN/MultiPrecision_CNN.sim/sim_1/behav/xsim/xsim.dir/TB_pooling_layer_behav/xsim.mem
MultiPrecision_CNN/MultiPrecision_CNN.sim/sim_1/behav/xsim/xsim.dir/TB_pooling_layer_behav/xsim.rlx
MultiPrecision_CNN/MultiPrecision_CNN.sim/sim_1/behav/xsim/xsim.dir/TB_pooling_layer_behav/xsim.rtti
MultiPrecision_CNN/MultiPrecision_CNN.sim/sim_1/behav/xsim/xsim.dir/TB_pooling_layer_behav/xsim.svtype
MultiPrecision_CNN/MultiPrecision_CNN.sim/sim_1/behav/xsim/xsim.dir/TB_pooling_layer_behav/xsim.type
MultiPrecision_CNN/MultiPrecision_CNN.sim/sim_1/behav/xsim/xsim.dir/TB_pooling_layer_behav/xsimSettings.ini

